<!-- <html>
   <head>
     <title>AlgPedia, o retorno</title>
   </head>
   <body>
     <p>Hi there !</p>
     <p>Funciona!!</p>
     <p> Uahahahaha!</p>
     <p>{{ posts }}</p>
   </body>
</html> -->
<html>
    <head>
      <title>AlgPedia, o retorno</title>
    </head>
    <body>
        <div>
            <h1><a href="">O Blog de quem terminou suas tarefas</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}

    </body>
</html>
